.form-group--select .option a {
    color: #fff;
}
body.blog .gallery-tag svg path {
    fill: #f9ab97;
    stroke: #f9ab97;
}

[data-contact-form_submit],
[data-refund-form_submit]{
    cursor: pointer;
}

.modal__content .error-text,
.form-errors-wrapper .error-text {
    display: none;
    color: #DD4B39;
    margin-bottom: 10px;
    text-align: center;
}

.modal__content .success-text,
.form-errors-wrapper .success-text {
    display: none;
    text-align: center;
    padding: 50px 0;
    font-size: 20px;
    text-align: center;
}

.modal__content.busy,
form.busy,
.cart-wrap.busy{
    opacity: 0.5 !important;
    pointer-events: none;
}
.card-table__row>*:first-child {
    min-width: 200px;
}
.card-table__row> .widen-label {
    min-width: 270px;
}
.card-table__row .price-wrapper {
    font-size: 15px;
    font-weight: 600;
}
.card-table__row .price-wrapper .old_price {
    font-size: 14px;
    font-weight: 500;
    color: #8c8c8c;
    margin-right: 10px;
    position: relative;
}
.card-table__row .price-wrapper .old_price:after {
    content: "";
    width: 105%;
    height: 1px;
    background-color: #8c8c8c;
    position: absolute;
    left: 0;
    bottom: 8px;
    transform: rotate(-20deg);
}

.choose-subject-inner .form-group--select .select-label:before{
    content: '';
    position: absolute;
    top: 8px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    right: 10px;
    left: initial;
    height: 6px;
    width: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='7' viewBox='0 0 19 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 7L0.406735 0.249998L18.5933 0.25L9.5 7Z' fill='gray'/%3E%3C/svg%3E%0A")
}
.delivery-inner {
    flex-direction: row;
    align-items: center;
}
@media (max-width: 767.98px){
    .delivery-inner{
        flex-direction: column;
        align-items: flex-start;
    }
}
@media (min-width: 767.99px){
    .datepicker {
        width: 450px;
    }
    .datepicker--cell {
        height: 42px;
    }
}
.delivery-types-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.delivery-calendar-wrapper {
    display: flex;
    justify-content: center;
    flex: 1;
}

.select-label.readonly:before {
    display: none;
}

.cart-head__amount .woocommerce-Price-currencySymbol,
.c-table .woocommerce-Price-currencySymbol{
    display: none;
}

.cart-head__amount span {
    font-size: inherit;
}
